body {
    font-family: Arial, sans-serif;
}

.event-container {
    max-width: 800px;
    margin: 0 auto;
}

.event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.event-details {
    flex: 1;
}

.event-name {
    font-size: 20px;
    font-weight: bold;
}

.event-info {
    margin-top: 5px;
    font-size: 14px;
}

.event-checkbox {
    margin-left: 10px;
}