{% extends 'nav.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>About</h1>
        <p>this is just the most epic app ever made by some cool kids from mit</p>
        <p style="font-family:'Courier New', Courier, monospace;">
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶$¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶8____________v$¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶$¶$v_____________________q¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶v___________________________v¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶v_________________________________8¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶$_____________________________________$¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶o_______q¶¶¶¶3_____________$¶¶¶$________q¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶________¶¶¶¶¶¶¶¶o_________$¶¶¶¶¶¶¶$_______o¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶$________v¶¶¶¶¶¶¶¶¶________q¶¶¶$¶¶¶¶¶v_______q¶¶¶¶¶¶
            ¶¶¶¶¶$¶_________8¶¶¶¶¶¶¶¶¶________8¶¶¶¶¶¶¶¶¶3________8¶$¶¶¶
            ¶¶¶¶¶¶___________¶¶¶¶¶¶¶¶¶________v¶¶¶¶¶¶¶¶¶__________¶¶¶¶¶
            ¶¶¶¶¶¶___________¶¶¶¶¶¶¶¶__________8¶¶¶¶¶¶¶3__________q¶¶¶¶
            ¶¶¶¶¶¶____________$¶¶¶¶$____________v¶¶¶¶¶____________o¶¶¶¶
            ¶¶¶¶¶¶________________________________________________o¶¶¶¶
            ¶¶¶¶¶¶________________________________________________q¶¶¶¶
            ¶¶¶¶¶¶___v8¶¶v_________________________________¶¶¶q__v$¶$¶¶
            ¶¶¶¶¶¶q_____¶3________________________________3¶o____o¶¶¶¶¶
            ¶¶¶¶¶¶¶______q¶q_____________________________¶3_____v$¶¶¶¶¶
            ¶¶¶¶¶¶¶¶________3¶o______________________o$$_______v$¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶__________$¶¶q_______________$¶$_________v$¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶q____________q$¶¶¶¶¶¶¶¶¶$$q___________vo8¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶_________________________________vvo8¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶$¶$v____________________________vvo8¶¶$¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶q_______________________vvvo3¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶3v______________vvvq88¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶$3qqooqqq8¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶$¶¶¶¶¶¶¶¶¶$¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
            </p>
    </div>
</body>
{% endblock %}