{% extends 'nav.html' %}
{% block content %}
<form method="post" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        <label for="{{ form.email.id }}">Email</label>
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            <div class="errors">
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.password.id }}">Password</label>
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <div class="errors">
                {% for error in form.password.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <!--i added the class "btn btn-custom" but tbh idk why it has no border anymore -alaysia-->
    <input class="btn btn-custom" type="submit" value="Login">
</form>
{% endblock %}